# Dependências
/vendor/
node_modules/

# Storage e cache
/storage/*
!/storage/app/public
/storage/framework/*
/bootstrap/cache/*

# Logs
/storage/logs/*
*.log

# Arquivos sensíveis
.env
.env.*
.env.local
.env.production
.env.staging

# Build do front (caso use Vite)
public/hot
public/storage
public/build

# Arquivos de cache e debug
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
composer.lock

# IDE e sistema
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
Thumbs.db

# Docker e volumes
postgres-data/
docker-compose.override.yml
.env.docker
.env.example.local

# Arquivos extras
*.pid
*.seed
*.sql
*.zip
*.tar.gz
*.txt

# Cache Laravel
bootstrap/cache/*.php
