/vendor/
node_modules/

/storage/*
!/storage/app/public
/storage/framework/*
/bootstrap/cache/*

/storage/logs/*
*.log

.env
.env.*
!.env.example
.env.local
.env.production
.env.staging

public/hot
public/storage
public/build

.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
composer.lock

.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
Thumbs.db

postgres-data/
docker-compose.override.yml
.env.docker
.env.example.local

*.pid
*.seed
*.sql
*.zip
*.tar.gz
*.txt

bootstrap/cache/*.php
